@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

.html, .ant-col {
    font-family: "Parkinsans", serif;
    font-weight: 400;
    font-style: normal;
}

[class^="ant-menu"], [class*=" ant-menu"], .ant-btn, .ant-typography {
    font-family: "Montserrat", serif;
}

.dark .ant-layout.ant-layout-has-sider {
    background: #1f1f1f;
}

.light .ant-layout.ant-layout-has-sider {
    background: #ffffff;
}

.ant-layout {
    background: #000;
    background-color:#9e99ff;
    background-image:
            radial-gradient(at 53% 49%, hsla(332,72%,77%,1) 0px, transparent 50%),
            radial-gradient(at 45% 64%, hsla(34,60%,63%,1) 0px, transparent 50%),
            radial-gradient(at 87% 28%, hsla(311,74%,67%,1) 0px, transparent 50%),
            radial-gradient(at 27% 90%, hsla(312,96%,63%,1) 0px, transparent 50%),
            radial-gradient(at 25% 97%, hsla(244,79%,65%,1) 0px, transparent 50%),
            radial-gradient(at 67% 49%, hsla(188,84%,78%,1) 0px, transparent 50%),
            radial-gradient(at 14% 37%, hsla(349,79%,75%,1) 0px, transparent 50%);
}


.ant-menu-light, .ant-layout .ant-layout-sider-has-trigger   {
    background: none !important;
}

.ant-layout .ant-layout-sider-children {
    height: 101%;
}

.dark main.ant-layout-content {
    background: #000000a8;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.light main.ant-layout-content {
    background: rgba(255, 255, 255, 0.14);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.light .ant-table-wrapper .ant-table, .dark .ant-table-wrapper .ant-table, .light .ant-card {
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.ant-layout-sider-children > div {
    border-bottom: none !important;
}

.ant-layout-sider-trigger {
    display: none;
}

.dark .ant-card {
    background: #1414147a !important;
}

.dark .ant-table-wrapper .ant-table {
    background: #1414147a !important;
}

.dark .ant-table-cell-row-hover {
    background: rgba(20, 20, 20, 0.26) !important;
}

.ant-layout-sider a .ant-typography {
    font-size: 18px !important;
    font-weight: 700;
    margin-left: 20px;
}

.server-list-button {
    background-color: #1568dc;
    color: #fff;
    font-weight: 600;
}

/*div#root:before {*/
/*    content: ' ';*/
/*    background: #000000b5;*/
/*    margin: 0 auto;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-search-bar {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-search-bar {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-search-bar {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .header-search-bar {
        display: inline;
    }

    .ant-layout.ant-layout-has-sider, .ant-layout-has-sider {
        padding-left: 50px !important;
    }

    main.ant-layout-content {
        padding-right: 50px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
    .header-search-bar {
        display: inline;
    }

    .ant-layout.ant-layout-has-sider, .ant-layout-has-sider {
        padding-left: 300px !important;
    }

    main.ant-layout-content {
        padding-right: 300px !important;
    }
}

[is-app="true"] .mobile-sider-button {
    margin-top: 40vh;
}

.server-list {
    /*display: block;*/
    height: calc(100% - 72px);
    float: left;
}

.sider-menu {
    width: 67%;
    display: block;
}

aside.ant-layout-sider {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}

/** Server List **/
.server-list-ul {
    padding: 0;
}

.server-list-ul > li {
    list-style: none;
    padding: 7px;
}

.server-list-item img {
    border-radius: 50%;
    max-width: 70px;
}

.server-list-item > .active {
    background: #fff;
    display: block;
    position: relative;
    margin-top: -50px;
    height: 50px;
    width: 7px;
    top: 60px;
    left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}