@media only screen and (max-width: 600px) {
    .header-username {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .header-username {
        display: inline;
    }
}

[is-app="true"] {
    margin-top: 30px;
    background-color: #1f1f1f;
}

[is-app="true"] .header-language {
    display: none;
}

.ant-layout-header {
    z-index: 1000 !important;
}