.dark .feature-icon {
    color: #ffffff24;
}

.light .feature-icon {
    color: #00000024;
}

.feature-icon svg {
    font-size: 7.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ant-card:hover .feature-icon svg {
    font-size: 9em;
    transition: font 0.3s ease;
}

.guild-feature .ant-card-body {
    min-height: 170px;
}

.guild-feature .ant-card-body p {
    max-width: 70%;
    min-height: 75px;
}